:root{
  --primary-white:#fff;
  --primary-light-grey:#f4f4f4;
  --primary-grey:#ccd1d9;
  --primary-dark-grey:#666;
  --primary-orange:#f9ab00;
  --primary-dark:rgb(52,58,64);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
  --primary-black:#000;
  --primary-transparent-blac:rgba(0,0,0,0.7);
  --primary-green:rgb(0,255,0);
}
.app{
  background-color: var(--primary-black);
}
*{
  box-sizing: border-box !important;
}

.logo{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nav{
   
    background-color: rgb(34, 36, 36);
}

nav a.nav-link{
  font-size: 1.2rem;
  letter-spacing: 0.0375rem;
  margin: 0 0.75rem;
  color: var(--primary-green) !important;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav >li >a.active,
.navbar-nav >li>a:hover,
.navbar-nav >li>a:focus{
  border-bottom: 0.1875rem solid var(--primary-dark-grey);
}
nav{
  z-index: 999;
  user-select: none;
}
.icon{
  background: transparent;
  border: none;
  outline: none;
  /* display: none; */
  font-size: 36px;
}
/* Header ucun CSS kodlari */


.header-wrapper{
  background: url(windows.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
 
}
.main-info{
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info h2{
  color: var(--primary-black);
margin-bottom: 25px;
}
.typed-text{
  font-size: 2rem;
  color: var(--primary-grey);
}
.icon{
  background: transparent;
  border: none;
  display: none;
  font-size: 36rem;
}


p{
 font-size: small;
}
/* About me komponenti ucun stiller */
 
.photo-wrap{
  display: flex;
  align-items: center;
  align-items: center;
  
  }
  .profile-img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 1px solid var(--primary-orange);
    padding: .3rem;
    object-fit:cover;
  }
  
  @media(max-width:568px){
    .about-heading{
      text-align: center;
    }
    .row{
      gap: 1.2rem;
    }
  }
  .text-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
 /* Services */
 .services{
  text-align: center;
  background-color: var(--primary-light-grey);
 padding-bottom: 2rem;
}
.services h1{
  text-transform: uppercase;
}
.services .circle{
  position: relative;
  margin: 0.0375rem auto;
  background-color: var(--primary-orange);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.services .circle .icon-s{
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  .box h2{
    margin-top: 1.1rem;
  }
.services .box{
  background: var(--primary-white);
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  height: 400px;
  transition: all .7s ease-in-out;
}
.services .box:hover{
  cursor: pointer;
  background: var(--primary-orange);
   border-bottom: 0.3125rem solid var(--primary-dark);
}
.services .box:hover .icon-s{
  color: var(--primary-dark);
}
.services .box:hover .circle{
  background: var(--primary-white);
}
 .services .box:hover p{
   color: var(--primary-grey);
 }

/* contact us component styl */
.contacs{
  background-color: var(--primary-dark);
  padding:3rem 0 ;
 }
 .contacs h1{
   color: var(--primary-orange);
   padding-left: 1.3rem;
   text-transform: uppercase;
 }
 .contacs p{
   color: var(--primary-light-grey);
   font-size: 1.2rem;
 }
 /* contacs input */
 .contacs input,.contacs textarea{
   background: none;
   border: none;
   resize: none;
   box-sizing: border-box;
   color: var(--primary-orange);
   outline: none !important;
 }
 .contacs input:focus,.contacs textarea:focus{
   background: transparent;
   border-bottom: 0.125rem solid var(--primary-dark-grey) ;
 }
 .contacs textarea{
   height: 12.2rem !important ;
 }
 .contact-btn{
   margin: 1rem 0 0 0;
  }
 .btn-main-offer{
   border: 1px solid var(--primary-red);
   margin: 2rem;
   padding-left: 0.625rem 0.75rem 0.75rem 0.75rem;
   color: var(--primary-dark);
   background: var(--primary-dark-grey);
 }
 .btn-main-offer:hover{
   background-color: var(--primary-grey);
   transition: 1s ease-in-out;
 }
 .line{
   position: relative;
   top: -0.7rem;
   width: 0;
   height: 0.125rem;
   background-color: var(--primary-orange);
   display: inline-block;
 }
 input:focus+.line  textarea:focus+.line{
   width: 100%;
   transition: width .5s ease-in-out;
 }
 
 .tect-center {
   text-align: center;
 }
/* Footer style */
    
.Footer{
 text-align: center;
background-color: var(--primary-dark-grey);

}
a{
  color: var(--primary-black);
  
}
a:hover{
  text-decoration: none;
  color: var(--primary-grey);
}




